/* Resetear los estilos CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f2f6;
}

nav {
    background-color: #ffc8dd;
    padding: 10px;
    align-items: center;
}

.nav-container {
    width: 1265px;
    height: 60px;
    margin: 0 auto;
    /*flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container h1 {
    color: #ffff;
    font-size: 40px;
}

.nav-container input {
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    width: 500px;
}

.nav-container button {
    background-color: #ffafcc;
    border: none;
    border-radius: 15px;
    color: #ffff;
    padding: 8px 14px;
}

.container {
    width: 1300px;
    height: 500px;
    font-size: 20px;
    margin: 20px 10px;
}

.row {
    /*flexbox*/
    display: flex;
}

.card-main {
    border-radius: 10px;
    background-color: #ffff;
    padding: 40px;
    box-shadow: 0px 3px 3px #aaa5a7;
    margin: 30px;
}

.card-second {
    border-radius: 10px;
    background-color: #ffff;
    padding: 30px;
    box-shadow: 0px 3px 3px #aaa5a7;
    margin: 30px 0px;
    text-align: center;

}

button {
    background-color: #ffafcc;
    border-radius: 5px;
    padding: 9px;
    border: none;
    color: #ffff;
}

.card-second button {
    background-color: rgb(175, 232, 255);
}

h2 {
    color: rgb(175, 232, 255);
    margin-bottom: 9px;
}

.card-text {
    margin: 9px 0px;
}

img {
    width: 500px;
    height: 350px;
    border-radius: 30px;
    box-shadow: 0px 3px 3px #aaa5a7;
}
