* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 240, 235);
    font-size: 30px;
    font-family: "Caveat", cursive;
    text-align: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}


img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #9e9c9c;
    background-color: #fff;
    margin: 10px;
}